<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815731226145-b4d7ng4f2a59fosatintrpb8tknmv18a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815731226145-b4d7ng4f2a59fosatintrpb8tknmv18a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>815731226145-sb0ufdgd1mml7f86olkto03j0t5svv6m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFnBixyUnGvdej_dsKPRPTohLXDJbZ--Q</string>
	<key>GCM_SENDER_ID</key>
	<string>815731226145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cookapps.interiors.home.design.merge.sunnyhouse</string>
	<key>PROJECT_ID</key>
	<string>sunny-house-68dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>sunny-house-68dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815731226145:ios:c34d10babcdbb8b64c1560</string>
</dict>
</plist>